<form action="/auth/login.html" method="post">
	<ul>
		<li>
			<input type="email" name="email" placeholder="E-Mail"/>
		</li>
		<li>
			<input type="password" name="password" placeholder="Passwort"/>
			<input type="submit" value="Anmelden"/>
		</li>
		<li>
			<input type="checkbox" name="remember_me" />
			<label for="remember_me">Angemeldet bleiben</label>
			
			<a href="#">Passwort vergessen</a> 
		</li>
	</ul>
</form>