<form action="" method="post">
	<ul>
		<li>
			<input type="email" name="email" placeholder="E-Mail"/>
			<input type="password" name="password" placeholder="Passwort"/>
		</li>
		<li>
			<label>
				<input type="checkbox" name="remember_me" />
				<span>Angemeldet bleiben</span>
			</label>
			<a href="#">Passwort vergessen</a> 
		</li>
		<li class="action"><input type="submit" value="Anmelden"/></li>
	</ul>
</form>