<form action="" method="post">
	<ul>
		<li>
			<input type="text" name="firstname" placeholder="Vorname"/>
			<input type="text" name="lastname" placeholder="Nachname"/>
		</li>
		<li><input type="text" name="email" placeholder="E-Mail"/></li>
		<li><input type="password" name="password" placeholder="Passwort"/></li>
		<li><input type="submit" value="Melde dich an"/></li>
	</ul>
</form>