<form action="" method="post">
	<input type="text" name="email" placeholder="E-Mail"/>
	<input type="password" name="password" placeholder="Passwort"/>
	<input type="submit" value="Registrieren"/>
</form>